.principal_wrapper{
    padding: 3%;
    font-size: 21px;
    font-weight: 550;
    color: #c0becb;
    padding-bottom: 10px;

    p{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    a{
        
        font-size: 30px;
        color: #ffffff;
    }
}