.mapsMaker_wrapper {
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  h3{
    margin-bottom: 10px;
    color: #bfbfbf;
  }
}
